html, body {
    height: 100%;
    margin: 0;
    color: grey;
}

.header {
    background-color: red;
}

.content {
    min-height: 100%;
    margin-bottom: -60px; /* equal to footer height */
    background-color: blue
}

    .content:after {
        content: "";
        display: block;
    }

    .footer, .content:after {
        height: 60px;
    }

.footer {
    background: yellow;
}
