
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/test.styles.css" asp-append-version="true" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" asp-append-version="true" />
</head>
<body style="height: 100%">
    <header id="xederblyat">
        <div style="position: absolute;
                        width: 211px;
                        height: 79.98px;
                        left: 67px;
                        top: 18.28px;
                        z-index:99">
            <svg xmlns="http://www.w3.org/2000/svg" width="211" height="81" fill="none" viewBox="0 0 211 81">
                <path fill="#F8BF0C" d="M211 63.256C140.015 34.318 70.988 101.814 0 72.878c14.066-23.951 28.134-47.9 42.2-71.849 41.349 19.96 85.251-14.189 126.6 5.774 14.066 18.816 28.134 37.633 42.2 56.453z" />
                <path fill="#017FCD" d="M187.064 31.234c-54.162-23.855-108.966 24.744-163.125.89 6.087-10.365 12.174-20.731 18.264-31.095C83.549 20.989 127.45-13.16 168.8 6.803l18.264 24.431z" />
                <path fill="#D8D8D8" d="M154.545 68.79c2.451 0 4.219.808 4.219 2.891 0 1.238-.708 2.087-1.76 2.432 1.167.361 2.009 1.237 2.009 2.604 0 2.132-1.668 3.048-4.25 3.048h-3.875V68.79h3.657zm-2.315 1.183v3.638h2.275c1.608 0 2.852-.36 2.852-1.835 0-1.434-1.25-1.803-2.86-1.803h-2.267zm0 4.814v3.795h2.473c1.751 0 2.9-.431 2.9-1.906 0-1.458-1.149-1.89-2.9-1.89h-2.473zM169.064 79.765h-7.351V68.79h7.276v1.183h-5.932v3.676h5.726v1.176h-5.726v3.754h6.007v1.186zM179.599 69.98h-3.763v9.785h-1.333v-9.784h-3.763V68.79h8.862v1.19h-.003zM190.566 79.765h-1.432l-1.324-3.056h-5.775l-1.319 3.056h-1.392l4.791-10.975h1.66l4.791 10.975zm-8.018-4.248h4.751l-2.375-5.48-2.376 5.48z" />
                <g>
                    <path fill="#fff" d="M43.447 10.735c.544.218.82.324 1.364.526.8.296 1.198.436 1.998.706 2.642.884 4.29 2.28 5.07 4.332.853 2.253.208 5.528-.734 7.584-1.204 2.623-3.087 5.31-5.67 6.952-2.14 1.361-5.74 1.857-8.207.981a63.16 63.16 0 01-2.711-.865c-.64-.218-.957-.332-1.594-.564 3.494-6.55 6.987-13.1 10.484-19.652zm-5.569 17.343c.436.14.654.207 1.09.34 1.977.598 3.78.406 5.364-.475 1.588-.879 2.826-2.372 3.76-4.44.938-2.072 1.124-3.787.605-5.175-.519-1.388-1.705-2.342-3.597-2.962-.26-.086-.39-.13-.65-.218-2.193 4.31-4.382 8.62-6.572 12.93zM52.27 31.932c-.968-2.207-.46-5.52.44-7.59 1.034-2.383 3.123-5.297 5.332-6.96 2.325-1.75 4.503-2.612 6.635-2.493 2.135.121 3.61 1.135 4.537 3.083.925 1.95.977 4.319.232 7.081-.685 2.534-2.694 5.504-4.646 7.256-1.705 1.534-4.809 3.105-7.316 3.017-2.477-.087-4.27-1.243-5.213-3.394zm11.08-1.938c1.513-1.329 2.536-2.946 3.127-4.833.59-1.898.573-3.485-.009-4.806-.579-1.32-1.559-2.005-2.983-2.078-1.425-.073-2.869.49-4.382 1.725-1.513 1.235-2.671 2.798-3.425 4.72-.75 1.913-.862 3.595-.28 5.01.578 1.416 1.687 2.16 3.278 2.205 1.585.049 3.16-.614 4.674-1.943zM74.35 15.258c.544-.03.819-.046 1.363-.083 1.02-.07 1.53-.11 2.554-.205 1.754-.16 2.998.175 3.771 1.03.774.857 1.006 2.161.66 3.94-.39 2.003-1.178 3.588-2.405 4.755-1.224 1.167-2.863 1.895-4.88 2.119-.525.059-.789.086-1.313.14l-1.826 7.288c-.639.07-.957.105-1.593.167-.64.062-.957.095-1.593.148 1.754-6.43 3.507-12.865 5.261-19.299zm.578 8.394c.51-.049.768-.076 1.278-.13 1-.105 1.8-.415 2.393-.91.594-.497.98-1.179 1.17-2.047.189-.867.088-1.49-.296-1.873-.38-.383-1.048-.523-2.003-.431-.49.048-.733.07-1.224.113-.524 2.11-.79 3.167-1.318 5.278zM84.297 30.032c-1.407-1.572-1.757-3.774-1.298-6.44.42-2.455 1.897-5.364 3.596-7.256 1.86-2.067 3.786-3.353 5.918-3.738 2.135-.386 3.85.18 5.253 1.679 1.405 1.498 2.05 3.542 1.97 6.054-.075 2.35-1.414 5.318-2.912 7.108-1.462 1.744-4.188 3.66-6.6 4.14-2.477.488-4.517.021-5.927-1.547zm10.506-4.289c1.195-1.45 1.831-3.035 1.963-4.768.132-1.741-.275-3.105-1.172-4.113-.897-1.008-2.035-1.386-3.462-1.119-1.424.267-2.711 1.094-3.906 2.515-1.195 1.42-1.963 3.035-2.261 4.844-.295 1.797-.017 3.234.88 4.272.897 1.04 2.166 1.388 3.754 1.06 1.593-.335 3.012-1.24 4.204-2.69zM104.722 27.894c-.639.154-.957.23-1.593.38-.64.151-.958.23-1.594.38.192-5.862.381-11.725.573-17.587.76-.157 1.141-.235 1.9-.394l1.909-.396c1.333 4.094 2.806 8.15 4.485 12.132-.003 0-.003 0-.006.003a294.452 294.452 0 003.345-13.733c.759-.151 1.141-.224 1.9-.37.765-.145 1.146-.218 1.909-.36.679 5.5 1.358 11.002 2.034 16.503-.639.138-.957.208-1.593.348-.639.14-.957.213-1.593.356l-1.196-12.669h.003a291.157 291.157 0 01-3.364 13.72l-1.276.3c-.51.118-.765.18-1.275.301-1.679-3.962-3.155-8.003-4.488-12.078.003 0 .003 0 .006-.003l-.086 13.167zM124.101 21.296c-2-1.307-3.115-3.148-3.453-5.504-.341-2.364.177-4.534 1.435-6.44 1.261-1.905 2.898-2.997 5.027-3.283 2.135-.285 4.147.321 6.145 1.75 1.997 1.428 3.413 3.267 4.129 5.501.714 2.226.502 4.189-.753 5.973-1.256 1.785-3.199 2.882-5.712 3.297-2.505.415-4.815.013-6.818-1.294zm9.796-3.625c.799-1.2.957-2.54.518-4.052-.438-1.517-1.327-2.749-2.619-3.687-1.293-.938-2.628-1.324-4.052-1.127-1.425.2-2.514.922-3.313 2.173-.8 1.25-1.087 2.679-.811 4.253.272 1.569 1.031 2.798 2.324 3.688 1.292.889 2.757 1.186 4.347.93 1.585-.251 2.806-.979 3.606-2.178zM150.679 20.751a13.87 13.87 0 01-7.431-2.075c-2.339-1.434-3.82-3.245-4.565-5.466-.746-2.227-.562-4.19.435-5.806.997-1.618 2.516-2.418 4.671-2.364 1.605.04 3.248.552 4.987 1.507 1.737.954 3.287 2.199 4.637 3.692a64.876 64.876 0 00-3.456-.299 9.454 9.454 0 00-2.456-1.641c-.906-.418-1.76-.637-2.571-.653-1.459-.027-2.482.494-3.118 1.547-.636 1.054-.708 2.343-.158 3.83.545 1.483 1.554 2.704 3.073 3.685 1.519.981 3.121 1.445 4.754 1.442 1.619-.002 2.748-.466 3.336-1.415a2.92 2.92 0 00.398-1.234c-2.739-.165-4.106-.189-6.846-.143-.427-1.046-.642-1.569-1.069-2.612a83.216 83.216 0 0110.4.507l.083.156c1.126 2.148 1.255 3.87.267 5.262-.989 1.39-2.815 2.064-5.357 2.08h-.014zM158.632 7.174c.424.1.636.154 1.063.262.424.108.636.164 1.063.28 5.426 5.766 10.957 11.437 16.557 17.054a55.258 55.258 0 00-1.743-.593c-.702-.229-1.052-.34-1.754-.547a591.253 591.253 0 01-4.198-4.342c-2.511-.701-3.766-.987-6.274-1.448.25 1.418.364 2.13.565 3.564a65.66 65.66 0 00-1.754-.251 64.917 64.917 0 00-1.765-.21c-.313-4.626-.789-9.221-1.76-13.769zm4.279 8.308a59.03 59.03 0 013.975.935 458.785 458.785 0 01-4.927-5.261c-.003 0-.006 0-.008-.003.424 1.722.616 2.588.96 4.329z" />
                </g>
                <g>
                    <path fill="#fff" d="M42.458 62.652c-1.295 3.644-3.706 7.092-7.004 9.32-3.184 2.152-7.311 2.812-11.137 2.192-3.405-.552-6.875-2.356-8.085-5.539-1.381-3.639.132-7.113 1.671-10.501l10.85-20.28c1.11.4 1.665.587 2.777.94 1.11.353 1.665.517 2.777.822L24.105 60.28c-1.147 2.323-1.505 4.194-1.043 5.585.461 1.39 1.748 2.31 3.825 2.671 2.064.359 3.87-.019 5.388-1.048 1.52-1.03 2.752-2.723 3.729-5.052 2.903-6.905 5.806-13.811 8.712-20.717 1.11.148 1.665.213 2.777.324 1.11.11 1.665.156 2.777.232-2.605 6.79-5.21 13.584-7.812 20.377zM51.764 74.482c-1.362.11-2.041.16-3.402.235-1.362.075-2.04.105-3.402.142l11.157-32.385a79.44 79.44 0 002.777-.03 95.785 95.785 0 002.777-.102c-1.459 4.73-2.915 9.46-4.373 14.191A315.506 315.506 0 0071.18 41.487c1.3-.164 1.954-.256 3.255-.45 1.302-.194 1.955-.296 3.256-.517a316.967 316.967 0 01-15.757 17.175A108.06 108.06 0 0071.41 71.62c-1.596.32-2.396.471-3.992.762-1.608.291-2.41.426-4.015.682-2.7-4.14-5.081-8.345-7.245-12.757-.009 0-.012 0-.02.003-1.462 4.725-2.918 9.45-4.373 14.172zM80.285 40.067c1.109-.202 1.665-.31 2.777-.526a217.76 217.76 0 006.027-1.261c2.66-.388 5.665-.981 8.15.447 1.9 1.092 2.832 3.049 2.731 5.879-.106 3.043-1.358 5.978-3.662 8.15-1.462 1.376-3.356 2.578-5.663 3.583a139.526 139.526 0 008.881 8.302 742.17 742.17 0 01-8.05 2.2 130.526 130.526 0 01-8.308-9.583c-.59 4.051-1.184 8.103-1.774 12.154-1.362.326-2.04.488-3.402.798-1.361.31-2.04.46-3.402.755 1.897-10.302 3.795-20.599 5.695-30.898zm3.419 13.515c1.258-.283 1.885-.429 3.144-.725 2.24-.529 3.969-1.332 5.161-2.37 1.19-1.037 1.834-2.31 1.957-3.824.127-1.526-.323-2.534-1.318-3.044-.994-.509-2.53-.52-4.631-.045-1.178.267-1.768.396-2.946.65-.456 3.118-.912 6.236-1.367 9.358zM114.09 32.237c.866-.208 1.296-.313 2.161-.518.866-.205 1.296-.304 2.161-.507 5.439 8.391 11.567 16.197 18.327 23.688-1.487.318-2.229.482-3.717.822-1.496.342-2.244.517-3.74.879a143.105 143.105 0 01-4.617-6.087c-4.433 1.087-8.844 2.26-13.249 3.45a453.65 453.65 0 01-3.287 8.262l-3.743 1.049c-1.507.423-2.261.633-3.765 1.053 5.067-10.493 9.606-21.143 13.469-32.091zm-.645 16.296a496.945 496.945 0 018.332-2.132 238.38 238.38 0 01-4.967-7.763c-.006.003-.009.003-.017.003a261.794 261.794 0 01-3.348 9.892zM134.215 28.03c1.109-.181 1.665-.268 2.777-.43 1.109-.161 1.665-.237 2.777-.38 2.579 8.556 5.161 17.111 7.74 25.664-1.361.215-2.04.331-3.401.574-1.362.242-2.041.369-3.402.636a35406.83 35406.83 0 01-6.491-26.065zM161.337 51.299a111.5 111.5 0 00-3.402.267c-1.361.123-2.04.194-3.401.35l-9.037-25.302a97.717 97.717 0 013.193-.221 97.238 97.238 0 013.193-.132c7.219 6.356 14.659 12.458 22.21 18.46-3.238-5.991-6.48-11.98-9.718-17.972 1.109.121 1.665.191 2.777.353 1.112.162 1.665.25 2.777.45l14.556 24.56a80.87 80.87 0 00-3.743-.482 84.556 84.556 0 00-3.769-.34c-7.869-5.997-15.647-12.083-23.207-18.42 2.516 6.146 5.043 12.286 7.571 18.429zM175.632 28.81c1.11.29 1.665.446 2.777.78a61.76 61.76 0 012.777.895c5.701 8.261 11.401 16.52 17.098 24.781a73.254 73.254 0 00-3.402-.989 74.555 74.555 0 00-3.401-.846c-5.288-8.205-10.567-16.413-15.849-24.62z" />
                </g>
            </svg>

        </div>
        <div class="row" style="height:50px; background: #E9E9E9">
            <div class="d-flex justify-content-end">
                <p id="topInfoP" style="font-family: Roboto;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-top:10px;
                        margin-left:0px;
                        ">+995 577 123 456  |  info@dopomoga.ge</p>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background: #017FCD">

            <div class="col-md-3"></div>

            <div class="col-md-9">
                <div class="row">
                    <div class="container">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" id="toggle_button"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse justify-content-between">
                                <ul class="navbar-nav ">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                            <p id="mainPageP" style="font-family: Roboto;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: 0.1em;
                                                                        text-align: left;
                                                                        color:white;">მთავარი</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">
                                            <p style="font-family: Roboto;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: 0.1em;
                                                                        text-align: left;
                                                                        color:#62B9EF;
                                                                        margin-left:40px">ჩვენს შესახებ</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">
                                            <p style="font-family: Roboto;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: 0.1em;
                                                                        text-align: left;
                                                                        color: #62B9EF;
                                                                        margin-left:40px">კონტაქტები</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">
                                            <p style="font-family: Roboto;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: 0.1em;
                                                                        text-align: left;
                                                                        color: #62B9EF;
                                                                        margin-left:40px">FAQ</p>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav ms-auto">
                                    <li>
                                        <p style="font-family: Roboto;
                                            font-size: 20px;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 23px;
                                            letter-spacing: 0.1em;
                                            text-align: left;
                                            color:white;
                                            margin-right:3px;
                                            ">UA</p>
                                    </li>
                                    <li>
                                        <div style="width:25px; height:25px; margin-right:5px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                                                <path fill="#fff" stroke="#fff" stroke-width="2" d="M1 12.683C1 6.23 6.23 1 12.683 1h.634C19.77 1 25 6.23 25 12.683c0 6.452-5.23 11.683-11.683 11.683h-.634C6.23 24.366 1 19.136 1 12.683z" />
                                                <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                                                <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                                                <g>
                                                    <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                                                </g>
                                                <g>
                                                    <mask id="a" width="26" height="26" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:alpha">
                                                        <path fill="#fff" d="M0 12.683C0 5.678 5.678 0 12.683 0h.634C20.322 0 26 5.678 26 12.683s-5.678 12.683-12.683 12.683h-.634C5.678 25.366 0 19.688 0 12.683z" />
                                                        <path stroke="#CDCDCD" d="M0 12.683C0 5.678 5.678 0 12.683 0h.634C20.322 0 26 5.678 26 12.683s-5.678 12.683-12.683 12.683h-.634C5.678 25.366 0 19.688 0 12.683z" />
                                                    </mask>
                                                    <g mask="url(#a)">
                                                        <path stroke="#CDCDCD" stroke-width="2" d="M17.488 12.683C17.488 6.23 22.718 1 29.17 1h.634c6.452 0 11.683 5.23 11.683 11.683 0 6.452-5.23 11.683-11.683 11.683h-.634c-6.453 0-11.683-5.23-11.683-11.683z" />
                                                        <path fill="#017FCD" d="M-1.268-1.902h28.537v14.585H-1.268z" />
                                                        <path fill="#F8BF0C" d="M-1.268 12.683h28.537v14.585H-1.268z" />
                                                    </g>
                                                </g>
                                                <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                                            </svg>

                                        </div>

                                    </li>
                                    <li>
                                        <div style="width:25px; height:25px; margin-right:10px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                                                <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                                                <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                                                <g>
                                                    <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                                                </g>
                                                <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                                                <g>
                                                    <path fill="#fff" stroke="#fff" stroke-width="2" d="M1 12.683C1 6.23 6.23 1 12.683 1h.634C19.77 1 25 6.23 25 12.683c0 6.452-5.23 11.683-11.683 11.683h-.634C6.23 24.366 1 19.136 1 12.683z" />
                                                    <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                                                    <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                                                    <g>
                                                        <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                                                    </g>
                                                    <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                                                </g>
                                            </svg>

                                        </div>

                                    </li>
                                    <li>
                                        <input style="border-radius: 30px;" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="">
        <main role="main" class="pb-3 bg-light" @* style="background-color:white"*@>
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2022 - Dopomoga - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Themes/ckeditor_full/ckeditor.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
